{{ "<!-- Navbar End -->" | safeHTML }}

<a class="navbar-item" href="{{ "/about/" | relURL }}">
    About
</a>
<a class="navbar-item" href="{{ "/connect/" | relURL }}">
    Community
</a>

<a class="navbar-item" href="https://www.redbubble.com/people/UQ-MARS/shop" target="_blank">
    Merch 
</a>

<style>
    .join-button {
        border-radius: 10px; /* Adjust the value for roundness */
    }
  </style>

<div class="navbar-item">
    <div class="buttons">
        <a class="button join-button" href="https://uqmars.square.site/">
            <strong>Join!</strong>
        </a>
    </div>
</div>
