{{ "<!-- Footer -->" | safeHTML }}
<footer class="footer uqmars-background is-dark">
    <div class="has-text-white footer-info columns is-centered">
        <div class="column is-8-desktop is-10-tablet">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <div>
                            <img src="{{ "img/favicon/safari-pinned-tab.svg" | relURL }}" alt="UQ Mars Logo"
                                class="image" style="display: block; height: 100px; width: 128px;" />
                            <div class="mt-2">&copy; UQ Mars {{ now.Year }}</div>
                        </div>
                    </div>
                </div>
                <div class="level-right is-hidden-mobile">
                    <div class="level-item">
                        <ul>
                            <li class="footer-link"><a class="text-white " href="/about">About</a></li>
                            <li class="footer-link"><a class="text-white " href="/community">Community</a></li>
                            <li class="footer-link"><a href="https://www.redbubble.com/people/UQ-MARS/shop">Merch</a></li>
                        </ul>
                    </div>
                    <div class="level-item pl-6">
                        <ul>
                            <li class="footer-link"><a href="https://uqmars.square.site/">Join UQ Mars</a></li>
                            <li class="footer-link"><a href="https://discord.com/invite/vjY49Q8">Discord</a></li>
                            <li class="footer-link"><a href="{{"./sponsorship/" | relURL}}">Sponsorship</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
