{{ "<!-- Sponsor Banner -->" | safeHTML }}
<div class="section">
    <div class="columns is-centered">
        <div class="column has-text-centered mx-6 is-10-tablet is-8-desktop is-6-fullhd">
            <h1 class="title is-centered has-text-centered text-blue">Sponsors</h1>
            <span class="block">
                UQ MARS is proudly sponsored by
            </span>

            <!-- Turbo Sponsors -->
            <div class="columns mt-1 is-vcentered is-centered is-multiline">
                <a class="column is-half" href="https://micromelon.com.au/" target="_blank">
                    <img src="{{ "img/sponsors/micromelon.png" | relURL }}" width="100%" alt="Micromelon Robotics"/>
                </a>
            </div>

            <!-- Silver Sponsors -->
            <div class="columns mt-4 is-mobile is-centered is-vcentered is-multiline">
                <a class="column is-half mb-2" href="https://www.espressif.com/" target="_blank">
                    <img src="{{ "img/sponsors/espressif.svg" | relURL }}" width="100%" alt="Espressif"/>
                </a>
            </div>
            
            <!-- Bronze Sponsors -->
            <div class="columns mt-1 is-mobile is-centered is-vcentered is-multiline">
                <a class="column is-one-quarter-mobile is-one-fifth-tablet" href="https://bpeq.qld.gov.au/" target="_blank">
                    <img src="{{ "img/sponsors/bpeq.png" | relURL }}" width="100%" alt="Board of Professional Engineers"/>
                </a>
                <a class="column is-one-quarter-mobile is-one-fifth-tablet" href="https://www.engineersaustralia.org.au/" target="_blank">
                    <img src="{{ "img/sponsors/engineersaustralia.svg" | relURL }}"  width="60%" alt="Engineers Australia"/>
                </a>
                <a class="column is-one-quarter-mobile is-one-fifth-tablet" href="https://chelona.group/" target="_blank">
                    <img src="{{ "img/sponsors/chelona.png" | relURL }}" width="100%" alt="Chelona Group"/>
                </a>
            </div>
        </div>
    </div>

</div>
